/* Menu Section */
.menu {
  padding: 60px 0;
}

.menu-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  margin-bottom: 30px;
}

.menu-card {
  display: flex;
  background-color: var(--noodly-yellow);
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
}

.menu-image {
  background-color: var(--noodly-blue);
  width: 40%;
  position: relative;
  display: flex;
  align-items: center;
}

.menu-image img {
  position: absolute;
  top: 0;
  left: 80px;
  right: 60;
  width: 80%;
  height: 100%;
  z-index: 1000;
}

.menu-content {
  width: 60%;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

.menu-title {
  color: var(--noodly-blue);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  text-transform: uppercase;
  text-align: left;
}

.menu-description {
  color: var(--noodly-blue);
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 20px;
  line-height: 1.4;
}

.menu-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.menu-size {
  color: var(--noodly-blue);
  font-size: 12px;
  font-weight: 500;
}

.menu-sizes {
  color: var(--noodly-blue);
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 10px;
}

.menu-price {
  color: var(--noodly-blue);
  font-weight: 700;
  font-size: 18px;
}

.menu-button {
  background-color: var(--noodly-blue);
  color: var(--noodly-yellow);
  padding: 8px 20px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

/* Media Queries */
@media (min-width: 768px) {
  .menu-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
